<!--The content below is only a placeholder and can be replaced.-->



<div class="example-container">
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option value="option1" (click)="show=false">Option 1</mat-option>
        <mat-option value="option2" (click)="show=false">Option 2</mat-option>
        <mat-option value="Other" (click)="show = true">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="show" class="">
      <mat-form-field class="example-full-width" >
        <textarea matInput placeholder="Leave a comment" required [(ngModel)]="this.comments"></textarea>
      </mat-form-field>
    </div>

    <div>
    <button mat-button type="submit" (click)=clickHandler($event)>Click me!</button>
    </div>

  </div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
